*{
    margin: 0;
}

body {
    background-color: rgb(19, 19, 19);
    height: 100vh;
    width: 100vw;
}

#sidebar{
    background-color: #BFE3F3;
    width: 279px;
    height: 100vh;
    padding-top: 5px;
    position: absolute;
    top: 0;
    z-index: 5;
}

h1{
    color: #294A69;
    font-family: 'Kaushan Script', cursive;
    font-size: 43px;
    text-align: center;
}
#routeList{
    margin-top: 20px;
}

#routeListItem{
    display: flex;
    flex-wrap: wrap;
    height: 197px;
    background-color: red;
    width: 255px;
    border-radius: 8px;
    background-image: url("images/Restaurant-it-posthus-makkum-1280x620.jpeg");
    background-size: cover ;
    background-position: center;
    margin: auto;
    justify-content: space-between;
    box-shadow: 4px 4px 6px 0px rgba(30,30,30,0.21);

}

h2{
    background-color: #294a69;
    color: white;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 5px 0px ;
    align-self: end;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
}



#routeAttributes{
    align-self: flex-start;
    color: white;
    font-family: 'Public Sans', sans-serif;
    font-weight: 100;
    list-style: none;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
}

#routeAttributes img{
    width: 15px;
    height: 15px;
    color: white;
    padding-right: 5px;

}

/*STYLING LEAFLET*/


#leaflet {
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    position: relative;
}

.customPopup {
    position: absolute;
    z-index: 999;
    right: 0;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 12px;
    width: 200px;
    cursor: default;
}

.customPopup.hidden {
    display: none;
}

.customIcon {
    width: 10px;
    height: 10px;
    background: #ff5c1b;
    border: 1px solid #c53800;
    border-radius: 10px;
}

.customIcon.active {
    border: 2px solid #7c0404;
}

/*STYLING ACTIVITY BUTTONS*/
#activityButtons{
    display: flex;
    position: absolute;
    bottom: 50px;
    right: 30px;
    z-index: 999;
    flex-flow: column;
}

.activityButton {
    height: 50px;
    width: 50px;
    background-color: red;
    margin: 5px;
    border: none;
    border-radius: 50px;

}

